{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-transform-runtime"],
  "env": {
    "development": {
      "plugins": [["@babel/plugin-transform-react-jsx-source"]]
    }
  }
}
